#container{
    height:500px;
    width:60%;
    margin: auto;
    
}
.para{
    text-align: center;
    font-size: 40px;
}
.input-box{
    display: flex;
    justify-content: space-between;
}
.input-box>div{
    height:80px;
    width:45%;
}
.input-box>div>label{
    font-size: 15px;
}
.input-box>div>input{
    height:40px;
    width:95%;
}
.text-area{
    height:200px;
    width:100%;
}
.submit{
    height:60px;width:140px;
    font-size: 20px;
    background-color: white;
    border: 2px solid red;
    margin-left: 45%;
}

